<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Photo Corrector</title>
{#        <script src="{% static 'js/send_info.js' %}"></script>#}
    </head>
    <body>
    <div style="margin-left: 500px; margin-top: 100px">
        <h1 style="color: darkgoldenrod">Ready Picture</h1>

        {% if last_photo %}
            <img style="width: 350px; height: 350px" src="{% get_media_prefix %}/{{ last_photo }}" />

        {% endif %}

    </div>
    </body>
</html>