<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Corrector</title>
    <script src="{% static 'js/send_info.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/></head>
<body>
<div style="margin-left: 500px; margin-top: 100px">
    <h1 style="color: darkgoldenrod">Upload Picture</h1>
    
    <form action="/photo_corrector/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Show picture">
    </form>
    {% if img_path %}
        <img style="width: 350px; height: 350px" src="{% get_media_prefix %}{{ img_path }}init"/>
    {% endif %}
    </br>
    <form action="/photo_corrector/send_info/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for num in range %}
            {{ forloop.counter }}
            <img style="width: 350px; height: 350px" src="{% get_media_prefix %}{{ img_path }}mask_{{num}}"/>
            <input type="checkbox" name="{{ num }}_of_{{ max }}">
            {% if inputs.value %}
                <div>btrbrt</div>
            {% endif %}
        {% endfor %}
        <button id="button" class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            Run
        </button>
        <input value="{% get_media_prefix %}/photos/{{ img.picture }}" name="img" type="hidden">
        <input value="{{ img_path }}" name="img_path" type="hidden">
    </form>
    </br>
</div>
</body>
</html>